
<div class="header-parsed" >
        <button type="button" class="menu-item #if($page == 'shoppage') menu-item #end " onclick="location.href='/secure/shoppage'" style="margin-left: 20px"><h2>Shop</h2></button>


        <button type="button" class="menu-item"><h2>Profile</h2> </button>



        <button type="button" class="menu-item" #if($page == 'cart') menu-item #end" onclick="location.href='/secure/cartpage'"><h2>Cart</h2>  </button>

    #if($currentUser)
            <b style="color: gray; margin-left: 15px;" title="Current user">$currentUser</b>
            #end
    </div>