<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <link rel="stylesheet"  href="/main.css">

</head>
<body>


<div class="cartimage">  <img class="cartimage" src="/cartimage.png">
  <div class="shop-name"><b>Shop & Go</b></div>
</div>
#set($page = "home")
#parse("/secure/header.vm")
</body>
</html>